<form method="post" action="/stuff/add">
    <div>
        <input type="text" name="login" id="login" autocomplete="username" value="">
    </div>
    <div>
        <input type="password" id="passwd" name="passwd" autocorrect="off" autocapitalize="off" autocomplete="current-password" value="" placeholder="">
        <label for="passwd">Введите пароль</label>
    </div>
    <div >
        <button type="submit" autocomplete="off">
            <span>Войти</span>
        </button>
    </div>
    </form>