{{ define "meta" }}
<!DOCTYPE HTML lang="ru"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FOAM</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/foamstyle.css">
<script src="static/jquery-1.12.4.min.js" defers></script>
<script src="static/jquery-ui.min.js" defers></script>
</head><html><body>
{{ end }}


  
  
  
  
  
