<form method="post" action="/users/add">
    <div>
        <input type="text" name="login" id="login" autocomplete="username" value="">
    </div>
    <div>
        <input type="password" id="passwd" name="passwd" autocorrect="off" autocapitalize="off" autocomplete="current-password" value="" placeholder="">
        <label for="passwd">Введите пароль</label>
    </div>
    <div>
        <input type="text" name="Uname" id="Uname" autocomplete="username" value="">
    </div>
    <div>
        <input type="text" id="Urole" name="Urole" autocorrect="off" autocapitalize="off" autocomplete="role" value="0" placeholder="">
        <label for="Urole">Введите роль</label>
    </div>
    <div >
        <button type="submit" autocomplete="off">
            <span>Записать</span>
        </button>
    </div>
</form>