{{ template "meta" }}
<form method="post" action="/stuff/add">
    <div>
        <label for="shortname">краткое наименование</label>
        <input type="text" name="shortname" id="shortname" autocomplete="shortname" value="">
    </div>
    <div>
        <label for="description">Описание</label>
        <input type="textarea" id="description" name="description" autocorrect="off" autocapitalize="off" autocomplete="description" value="" placeholder="">
    </div>
    <div >
        <button type="submit" autocomplete="off">
            <span>Добавить</span>
        </button>
    </div>
    </form>